@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/Menuinator.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>

<body>

    <div class="row">
        <div class="col-md-6">
            <h2>Welcome to the Menuinator</h2>
            <ul>
                <li>Quickly create a menu of meals that you know your family will enjoy</li>
                <li>The menu can be based on what you say the weather will be like in the next week, no chili in July</li>
                <li>Keep track of where your recipe is located, no matter if that is online, in a cookbook, or in your family's secret recipe book</li>
                <li>When you create a new account, a list of "starter" meals is created.  These can be changed or removed if you don't want them</li>
             </ul>
        </div>
        <div class="col-md-6">
            <h2>How to use the Menuinator</h2>
            <ol>
                <li>Create an account and several starter meals will be created</li>
                <li>Change or remove the starter meals, and add any additional family favorites</li>
                <li>Tell the Menuinator how many meals to select, and what the weather will be like</li>
                <li>The Menuinator will plan your menu!</li>
            </ol>
        </div>
    </div>
</body>

</html>
