@model IEnumerable<Menuinator.Models.SupportTables.PrepTime>

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/Menuinator.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Prep Times</title>
</head>
<body>
    <h2>
        Meal Preparation Times
    </h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="index-table">
    <thead>
        <tr>
            <th>
                Meal Preparation Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
