body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Table style for the default meal index page*/
.index-table {
    border-collapse: collapse;
    border: 3px solid purple;
}

.index-table th:nth-child(1) {
    text-align: left;
    width: 25%;
}
.index-table th:nth-child(2) {
    text-align: left;
    width: 25%;
}

.index-table tr {
    padding: 10px 0;     /* 10px top & bottom padding, 0px left & right */
    border-width: 1px 0; /*  1px top & bottom border,  0px left & right */
    border-color: #dca8f7;  /*pale purple*/
    border-color: #abf28a;   /*pale lime*/
    border-style: solid;
}

.wide-input  {
    width: 700px;
}